<div class="h-screen flex flex-col justify-center items-center bg-slate-50">
  <app-modal
    [isVisible]="(modalVisible$ | async)!"
    title="ارسال رسالة لعقاريين محددين"
    subTitle="من هنا يمكنك كتابة رسالة لأكثر من عقاري لتحفزه لتلقي طلب تسويق المالك"
    confirmLabel="إرسال"
    (onConfirm)="send()"
  >
    <app-user-card-list-container></app-user-card-list-container>
  </app-modal>
  <button
    (click)="showModal()"
    class="transition py-4 px-6 text-lg hover:-translate-y-1 bg-primary hover:bg-primary-hover"
  >
    رسالة مجمعة
  </button>
</div>
